<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Jornada SIGA</h1>
      <h2 class="masthead-subheading mb-0">Tecnólogos em Sistemas de Informação e Gestão Ambiental</h2>
      <a href="certificados" class="btn btn-success btn-xl rounded-pill mt-5">Certificados de 2018</a>
    </div>
  </div>
  <!-- <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div> -->
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://i.imgur.com/q4HnvPg.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">O Que é?</h2>
          <p>A Jornada SIGA é um evento acadêmico, dos tecnólogos em Sistemas da Informação e Gestão Ambiental, que ocorre uma vez por ano na instituição FAETERJ-PBI e visa levantar debates relacionados à Tecnologia e Meio Ambiente.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="null" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">null</h2>
          <p>null</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="null" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">null</h2>
          <p>null</p>
        </div>
      </div>
    </div>
  </div>
</section> -->